@import "./config";

body {
  background: #f8f9fa !important;
}

.landing_wrap {
  min-height: 100vh;
}

.landing_header {
  width: 100%;
  backdrop-filter: blur(20px);
  padding: 16px 42px;
  position: fixed;
  background: #ffffff80;
  top: 0;
  left: 0;
  z-index: 999;
  transition: $transition;

  &.animate {
    background: $white;
    background: $white;
  }

  @media screen and (max-width: 992px) {
    padding: 12px;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;

    .logo img {
      height: 52px;
    }

    .nav_links {
      display: flex;
      align-items: center;
      gap: 12px;
      height: 100%;
      li {
        padding: 0 8px;
        a {
          color: $dark;
          transition: $transition;
          &.active,
          &:hover {
            color: $main;
          }
        }
        &.logo,
        &.hide-lg {
          display: none;
        }
      }
      .close {
        display: none;
        cursor: pointer;
        padding: 4px;
        font-size: 26px;
        @media screen and (max-width: 992px) {
          display: block;
          position: absolute;
          top: 24px;
          right: 24px;
        }
      }
      @media screen and (max-width: 992px) {
        opacity: 0;
        padding: 32px 16px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        background: #fff;
        z-index: 9999;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: $transition;
        gap: 20px;
        li {
          width: 100%;
          padding: 0 32px !important;
          font-size: 18px;
          font-weight: 600;
          opacity: 0;
          transform: translateX(-20px);
          transition: opacity 0.3s ease, transform 0.3s ease;
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              --i: #{$i};
            }
          }
          &.logo {
            display: flex !important;
            padding: 0 12px !important;
            margin-bottom: 24px;
          }
          &.hide-lg {
            display: block !important;
          }
        }
        a {
          text-align: start;
        }
        &.active {
          left: 0;
          opacity: 1;
          li {
            animation: fadeIn 0.5s forwards;
            animation-delay: calc(0.3s + var(--i) * 0.05s);
          }
        }
        &.closing li {
          animation: fadeOut 0.3s forwards;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-inline-start: auto;
      .button {
        padding: 4px 32px;
        color: $white !important;
      }
      a {
        color: $dark;
        &:hover {
          color: $main;
        }
      }
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    .toggeler {
      display: none;
      cursor: pointer;
      margin-inline-start: auto;
      flex-direction: column;
      gap: 6px;
      padding: 4px;
      span {
        display: block;
        width: 26px;
        height: 1px;
        background: $dark;
        border-radius: 4px;
        transition: $transition;
      }
      @media screen and (max-width: 992px) {
        display: flex;
      }
    }
  }
}

.hero_section {
  width: 100dvw;
  height: 100dvh;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about_section {
  padding: 60px 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    .title {
      display: flex;
      align-items: center;
      gap: 12px;
      h6 {
        color: $main;
        margin: 0;
        font-size: 28px;
        font-weight: 400;
      }
      img {
        animation: rotate 4s linear infinite;
      }
    }
    h3 {
      color: $dark;
      font-size: 42px;
      @media screen and (max-width: 576px) {
        font-size: 32px;
      }
    }
    p {
      color: $gray;
      line-height: 1.5;
    }
  }
  .img {
    aspect-ratio: 5 / 4;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.statistics_section {
  padding: 60px 0;
  .statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
    .statistic_card {
      background: $white;
      border-radius: 100px;
      width: 162px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      padding: 24px 0;
      @media screen and (max-width: 576px) {
        width: 150px;
      }
      .icon {
        width: 100%;
        @include centerFlex();
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        h3 {
          margin: 0;
          color: $dark;
        }
        p {
          color: $gray;
          margin: 0;
        }
      }
    }
  }
}

.section_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-inline: auto;
  img {
    animation: rotate 4s linear infinite;
  }
  h4 {
    color: $main;
    text-align: center;
  }
  p {
    width: min(100%, 600px);
    color: $gray;
    text-align: center;
    line-height: 1.4;
  }
}

.parteners_section {
  background: $white;
  padding: 60px 0;
  .sliders {
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 2%,
      #000 20% 70%,
      rgba(0, 0, 0, 0) 99%
    );
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    .swiper {
      width: 100%;
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }
    .parteners_slider {
      .swiper-slide {
        height: auto;
        .img {
          height: 100%;
          width: 100%;
          @include centerFlex();
          img {
            width: 120px;
            object-fit: contain;
            filter: grayscale(1);
            transition: $transition;
            mix-blend-mode: luminosity;
            opacity: 50%;
            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

.why_us_section {
  padding: 60px 0;
  .header {
    @include space-between();
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      img {
        animation: rotate 4s linear infinite;
        height: 32px;
      }
      h4 {
        color: $main;
        margin: 0;
      }
      p {
        color: $gray;
        line-height: 1.5;
        width: min(100%, 600px);
      }
    }
    .img {
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
  }
  .feature_card {
    background: $main08;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h6 {
      color: $dark;
      font-size: 20px;
      font-weight: 500;
    }
    img {
      height: 64px;
      width: 64px;
      object-fit: contain;
    }
    p {
      line-height: 1.4;
      color: $gray;
    }
  }
}

.getInspired {
  height: 80vh;
  background-image: linear-gradient(
      180deg,
      #f8f9fa 0%,
      rgba(0, 103, 124, 0.5) 100%
    ),
    url("/images/inspired.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include centerFlex();
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: min(100%, 600px);
    h4 {
      text-align: center;
      font-size: 60px;
      color: $white;
      @media screen and (max-width: 576px) {
        font-size: 40px;
      }
    }
    button {
      background: $white;
      color: $main;
      border-radius: 12px;
      padding: 8px 32px;
    }
  }
}

.landing_footer {
  padding: 40px 0 !important;
  height: auto;
  background: #005a64;

  h3 {
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 24px;
    @media screen and (max-width: 576px) {
      margin-top: 24px;
    }
  }

  a {
    color: $white;
    transition: $transition;
    &:hover {
      color: $second !important;
    }
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &.contact {
      flex-direction: unset;
      gap: 12px;
      flex-wrap: wrap;
      a {
        gap: 4px;
        display: flex;
        align-items: center;
      }
    }
  }

  .social {
    border-bottom: 1px solid #2d737b;
    padding: 12px 0;
    @include space-between();
    h6 {
      color: $white;
    }
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }
  .copy_rights {
    width: 100%;
    background: #0000000d;
    padding: 24px;
    border-radius: 12px;
    @include space-between();
    h6 {
      margin: 0;
      color: $white;
      a {
        color: $second;
      }
    }
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 12px;
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.core_features {
  padding: 60px 0;
  background: $white;
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    img {
      animation: rotate 4s linear infinite;
      height: 32px;
    }
    h4 {
      color: $main;
      font-weight: 400;
      font-size: 32px;
      margin: 0;
    }
    p {
      color: $gray;
      line-height: 1.5;
      width: min(100%, 600px);
    }
  }
  .features {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    .feature_card {
      padding: 32px 24px;
      border-radius: 16px;
      background: $second5;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
      h6 {
        color: $dark;
        font-size: 14px;
        text-align: center;
        margin: 0;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.page_header_landing {
  height: 380px;
  display: flex;
  @media screen and (max-width: 576px) {
    height: 280px;
  }
  background: linear-gradient(180deg, #ebf3f5 0%, #fffcf6 100%);
  .content {
    padding: 40px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    .links {
      display: flex;
      align-items: center;
      gap: 8px;
      a {
        color: $main;
        &:last-child {
          color: $dark;
          pointer-events: none;
        }
      }
      span {
        color: $main;
        font-size: 16px;
      }
    }

    h1 {
      font-size: 32px;
      color: $main;
    }

    .img {
      height: 120px;
      img {
        height: 100%;
        object-fit: contain;
      }
    }

    @media screen and (max-width: 576px) {
      .img {
        display: none;
      }
    }
  }
}

.empowerBussinuess {
  padding: 60px 0;
  .empower_card {
    border-radius: 24px;
    background: $main;
    padding: 60px 24px;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 180px;
      height: 180px;
      background-image: url("/images/img-status-7.svg");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
    }
    .section_header {
      display: flex;
      flex-direction: column;
      gap: 12px;
      img {
        filter: brightness(0) invert(1);
      }
      h4 {
        font-size: 36px;
        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
      }
      p,
      h4 {
        color: $white;
        margin: 0;
      }
    }
  }
  .empower_img {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      border-radius: 24px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateX(12px) translateY(-12px);
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background: #bfd9df;
    }
  }
  .content {
    padding-inline-start: 60px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    h6 {
      color: $main;
      width: min(100%, 500px);
    }
    p {
      color: $gray;
    }
    .features_cards {
      margin-top: 32px;
      padding-inline-start: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .feature_card {
        position: relative;
        background: $white;
        padding: 32px 24px 32px 64px;
        box-shadow: 0px 3px 6px 0px #0000000d;
        border-radius: 16px;
        h6 {
          color: $dark;
        }
        p {
          margin: 0;
          line-height: 1.4;
        }
        .icon {
          width: 80px;
          height: 80px;
          border: 4px solid #f7fafb;
          position: absolute;
          left: -40px;
          top: 20px;
          background: $white;
          border-radius: 50%;
          @include centerFlex();
        }
      }
    }
  }
}

.guide_sec {
  padding: 80px 0;
  .step {
    width: 100%;
    border-right: 1px solid $main;
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-direction: column;
    h3 {
      font-size: 48px;
      font-weight: 900;
      color: #bfd9df;
    }
    p {
      color: $dark;
      font-size: 16px;
      line-height: 1.6;
    }
    @media screen and (max-width: 576px) {
      border: 0;
    }
  }
  .row {
    margin-top: 60px;
  }
  .col-12:last-child .step {
    border-right: 0;
  }
}

.terms {
  padding: 80px 0;
  background: $white;
  .terms_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .sec {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-radius: 16px;
      background: $inputBG;
      h2 {
        color: $main;
        font-size: 20px;
      }
      p {
        color: $gray;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
      }
      ul {
        list-style: disc;
        padding: 0 16px;
        li {
          b {
            color: $dark;
            white-space: nowrap;
            margin-inline-end: 4px;
            display: inline-block;
          }
        }
      }
      &:nth-child(even) {
        background: $white;
      }
      a {
        color: $main;
      }
    }
  }
}

.services_section {
  padding: 60px 0;
  .section_header {
    margin-bottom: 24px;
  }
  .service_dashed_card {
    width: 100%;
    padding: 24px;
    gap: 12px;
    display: flex;
    border-radius: 16px;
    align-items: center;
    height: 100%;
    flex-direction: column;
    border: 1px dashed #bfd9df;
    p {
      color: $gray;
      text-align: center;
      font-size: 14px;
      margin: 0;
      line-height: 1.5;
    }
    h3 {
      font-size: 42px;
      color: $white;
      font-weight: 600;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $main;
      font-family: monospace;
    }
    h4 {
      color: $dark;
      font-size: 20px;
      text-align: center;
      margin: 0;
      span {
        color: $gray;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  .inner_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 12px;
    width: 100%;
    margin-top: 24px;
    .sub_item {
      background: #ebf3f5;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 24px 16px;
      border-radius: 12px;
      h5 {
        color: $dark;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.additional_services {
  background: #fffcf6;
  padding: 80px 0;
  .img_parent {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    .img1,
    .img2,
    .img3 {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .img1 {
      grid-row: span 2 / span 2;
      border-radius: 100px 100px 0 100px;
    }
    .img2 {
      border-radius: 100px 100px 100px 0;
    }

    .img3 {
      grid-column-start: 2;
      border-radius: 100px 0 100px 100px;
    }
  }
  .header {
    @media screen and (max-width: 576px) {
      margin-top: 40px;
    }
    img {
      animation: rotate 4s linear infinite;
      height: 32px;
    }
    h4 {
      color: $main;
      font-weight: 400;
      font-size: 32px;
      margin: 0;
      span {
        font-size: 16px;
        color: $gray;
      }
      @media screen and (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
  .accordion-item,
  .accordion-button {
    background: transparent !important;
  }
  p {
    font-size: 14px;
    color: $gray;
    line-height: 1.5;
    margin-inline-start: 24px;
  }
  .accordion-button {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      font-size: 32px;
      color: $white;
      font-weight: 600;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $main;
      font-family: monospace;
    }

    h5 {
      font-size: 16px;
      color: $dark;
      margin: 0;
    }
  }
}

.benifits_section {
  padding: 80px 0;
  .benifits_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .benifit_card {
      display: flex;
      flex: 1 30%;
      min-width: 300px;
      align-items: center;
      flex-direction: column;
      background: #ebf3f5;
      gap: 8px;
      padding: 20px;
      border-radius: 20px;
      img {
        margin-bottom: 12px;
      }
      h3 {
        font-size: 16px;
        margin: 0;
        color: $dark;
      }
      p {
        color: $gray;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.fleets_search_section {
  padding: 20px 0;
  background: $white;
  min-height: calc(100vh - 380px);
  .top_filter {
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 24px;
    background: $inputBG;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 8px;
    .input-field {
      flex: 1 calc(20% - 8px);
      min-width: 200px;
      select,
      input {
        background: $white;
      }
    }
    .search_group {
      background: $white;
      display: flex;
      border-radius: 12px;
      border: 1px solid $inputStroke;
      input {
        border: 0 !important;
      }
      .search_btn {
        background: $main;
        color: $white;
        border-radius: 12px;
        border: 1px solid $main;
        transition: $transition;
        min-width: 54px;
      }
    }
    .advanced_search {
      height: 54px;
      flex: 1 20%;
      min-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      background: #fff5e2;
      border-radius: 12px;
      color: $dark;
    }
  }
  .fleet-card {
    background: $white !important;
    border: 1px solid #eeeeee;
  }
}

.fleet_details_section {
  padding: 40px 0;
}

.join_btn {
  width: 200px;
  height: 54px;
  border: 1px solid $main;
  border-radius: 12px;
  color: $main;
  transition: $transition;
  &:hover {
    color: $white;
    background: $main;
  }
}
